[submodule "spid-saml-check"]
	path = spid-saml-check
	url = ./spid-saml-check
[submodule "spid-compliant-certificates"]
	path = spid-compliant-certificates
	url = https://github.com/italia/spid-compliant-certificates
