.clear {
   clear: both;
   margin-bottom: 24px;
}

.admonition {
   max-width: 32em;
   padding: 2rem;
   margin: 3rem 0;
   border-top: 1px solid #aaa;
}

.admonition-si-deve {
   border-top-color: #743079;
   background: #F4E6F5;
}

.admonition-si-dovrebbe {
   border-top-color: #004c9e;
   background: #D1E7FF;
}

.admonition-si-puo {
   border-top-color: #3a7451;
   background: #EBF5EF;
}

.admonition-esempio {
   border-top-color: #504d47;
   background: #E6E5E3;
}

.admonition .admonition-title {
   background: transparent;
   font-weight: bold;
   margin: 0 0 5px 0;
   display: block;
   width: 100%;
   padding: 0 0 .2em 0;
   text-transform: uppercase;
}

.admonition-si-deve .admonition-title {
   color: #743079;
}

.admonition-si-dovrebbe .admonition-title {
   color: #004c9e;
}

.admonition-si-puo .admonition-title {
   color: #3a7451;
}

.admonition-esempio .admonition-title {
   color: #504d47;
}

.admonition .admonition-title:before {
   content: '' !important;
   margin: 0;
}

code {
   white-space: normal !important;
}

iframe.lg-example {
   width: 100%;
   max-width: 100%;
   min-height: 15em;
   border: none;
   border-top: 2px solid #e0e0e0;
   background: #fbfbfb;
   margin-top: 1.5em;
   margin-bottom: 0.5em;
}

.palette-example p {
   line-height: 1.55 !important;
   margin-bottom: 10px;
}

.lg-color-example {
   width: 40px;
   height: 10px;
   margin-right: 10px;
   display: inline-block;
}

.lg-example-titillium p {
   font-size: 20px;
   margin-bottom: 20px;
}

.font-extra-light {
   font-weight: 200;
}

.font-italic {
   font-style: italic;
}

.font-light {
   font-weight: 300;
}

.font-normal {
   font-weight: 400;
}

.font-semi-bold {
   font-weight: 600;
}

.font-bold {
   font-weight: 700;
}

.font-ultra-bold {
   font-weight: 900;
}

.lg-example-titillium p small,
.lg-example-tipografia small {
   display: block;
   font-size: 15px;
   color: #5A6772;
   line-height: 1.55;
}

.lg-example-tipografia div {
   border-bottom: 1px dotted #aaa;
   margin-bottom: 50px;
}

.lg-example-tipografia h1,
.lg-example-tipografia h2,
.lg-example-tipografia h3,
.lg-example-tipografia h4,
.lg-example-tipografia h5,
.lg-example-tipografia h6 {
   max-width: 32em;
   line-height: 1.2;
   font-weight: 700;
   margin-top: 27px;
   margin-bottom: 13.5px;
}

.lg-example-tipografia h1 {
   font-size: 54px;
}

.lg-example-tipografia h2 {
   font-size: 40px;
}

.lg-example-tipografia h3, p.h3 {
   font-size: 32px;
}

.lg-example-tipografia h4, p.h4 {
   font-size: 23px;
}

.lg-example-tipografia h5 {
   font-size: 21px;
   font-weight: 500;
   font-variant: small-caps;
}

.lg-example-tipografia h6 {
   line-height: 1.55;
   font-size: 18px;
}

.lg-example-tipografia .normal-text {
   font-size: 18px;
   line-height: 1.55;
}

.lg-example-tipografia blockquote {
   font-size: 18px;
   line-height: 1.55;
   font-style: italic;
   padding: 13.5px 27px;
   margin: 0 0 27px;
   border-left: 5px solid #eeeeee;
}

.lg-example-tipografia p {
   margin: 0 0 13.5px;
}

.lg-example-palette-box {
   width: 100%;
   text-align: center;
   float: left;
   position: relative;
   padding-left: 15px;
   padding-right: 15px;
}

@media (min-width: 992px) {
   .lg-example-palette-box {
      width: 33.3333%;
   }
}

.lg-example-palette-box div,
.lg-example-palette-box-full div {
   min-height: 100px;
   margin-bottom: 10px;
   border-radius: 1rem;
   padding: 20px;
}

.lg-example-palette-box-full {
   text-align: center;
   width: 100%;
   min-height: 100px;
   margin-bottom: 10px;
   border-radius: 1rem;
   padding: 20px;
}

.document a {
  text-decoration: underline;
}

.document a[href^='http://']:after,
.document a[href^='https://']:after {
   font-family: FontAwesome;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 1;
   speak: none;
   text-transform: none;
   content: " \f08e"
}