{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="{% static "base/css/spid-sp-access-button.min.css" %}" />
</head>
<body>
    <!-- AGID - SPID IDP BUTTON SMALL "ENTRA CON SPID" * begin * -->
    <a href="#" class="italia-it-button italia-it-button-size-s button-spid" spid-idp-button="#spid-idp-button-small-get" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="{% static "base/img/spid-ico-circle-bb.svg" %}" onerror="""this.src="{% static 'base/img/spid-ico-circle-bb.png' %}"""; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-small-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-small-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            <li class="spid-idp-button-link" data-idp="arubaid">
                <a href="#"><span class="spid-sr-only">Aruba ID</span><img src="{% static "base/img/spid-idp-arubaid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-arubaid.png' %}"""; this.onerror=null;" alt="Aruba ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="infocertid">
                <a href="#"><span class="spid-sr-only">Infocert ID</span><img src="{% static "base/img/spid-idp-infocertid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-infocertid.png' %}"""; this.onerror=null;" alt="Infocert ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="namirialid">
                <a href="#"><span class="spid-sr-only">Namirial ID</span><img src="{% static "base/img/spid-idp-namirialid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-namirialid.png' %}"""; this.onerror=null;" alt="Namirial ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="posteid">
                <a href="#"><span class="spid-sr-only">Poste ID</span><img src="{% static "base/img/spid-idp-posteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-posteid.png' %}"""; this.onerror=null;" alt="Poste ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="sielteid">
                <a href="#"><span class="spid-sr-only">Sielte ID</span><img src="{% static "base/img/spid-idp-sielteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-sielteid.png' %}"""; this.onerror=null;" alt="Sielte ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="spiditalia">
                <a href="#"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{% static "base/img/spid-idp-spiditalia.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-spiditalia.png' %}"""; this.onerror=null;" alt="SpidItalia" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="timid">
                <a href="#"><span class="spid-sr-only">Tim ID</span><img src="{% static "base/img/spid-idp-timid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-timid.png' %}"""; this.onerror=null;" alt="Tim ID" /></a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
    <!-- AGID - SPID IDP BUTTON SMALL "ENTRA CON SPID" * end * -->

    <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * begin * -->
    <a href="#" class="italia-it-button italia-it-button-size-m button-spid" spid-idp-button="#spid-idp-button-medium-get" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="{% static "base/img/spid-ico-circle-bb.svg" %}" onerror="""this.src="{% static 'base/img/spid-ico-circle-bb.png' %}"""; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-medium-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            <li class="spid-idp-button-link" data-idp="arubaid">
                <a href="#"><span class="spid-sr-only">Aruba ID</span><img src="{% static "base/img/spid-idp-arubaid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-arubaid.png' %}"""; this.onerror=null;" alt="Aruba ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="infocertid">
                <a href="#"><span class="spid-sr-only">Infocert ID</span><img src="{% static "base/img/spid-idp-infocertid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-infocertid.png' %}"""; this.onerror=null;" alt="Infocert ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="namirialid">
                <a href="#"><span class="spid-sr-only">Namirial ID</span><img src="{% static "base/img/spid-idp-namirialid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-namirialid.png' %}"""; this.onerror=null;" alt="Namirial ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="posteid">
                <a href="#"><span class="spid-sr-only">Poste ID</span><img src="{% static "base/img/spid-idp-posteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-posteid.png' %}"""; this.onerror=null;" alt="Poste ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="spiditalia">
                <a href="#"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{% static "base/img/spid-idp-spiditalia.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-spiditalia.png' %}"""; this.onerror=null;" alt="SpidItalia" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="sielteid">
                <a href="#"><span class="spid-sr-only">Sielte ID</span><img src="{% static "base/img/spid-idp-sielteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-sielteid.png' %}"""; this.onerror=null;" alt="Sielte ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="timid">
                <a href="#"><span class="spid-sr-only">Tim ID</span><img src="{% static "base/img/spid-idp-timid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-timid.png' %}"""; this.onerror=null;" alt="Tim ID" /></a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
    <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * end * -->

    <!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * begin * -->
    <a href="#" class="italia-it-button italia-it-button-size-l button-spid" spid-idp-button="#spid-idp-button-large-get" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="{% static "base/img/spid-ico-circle-bb.svg" %}" onerror="""this.src="{% static 'base/img/spid-ico-circle-bb.png' %}"""; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-large-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-large-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            <li class="spid-idp-button-link" data-idp="arubaid">
                <a href="#"><span class="spid-sr-only">Aruba ID</span><img src="{% static "base/img/spid-idp-arubaid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-arubaid.png' %}"""; this.onerror=null;" alt="Aruba ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="infocertid">
                <a href="#"><span class="spid-sr-only">Infocert ID</span><img src="{% static "base/img/spid-idp-infocertid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-infocertid.png' %}"""; this.onerror=null;" alt="Infocert ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="namirialid">
                <a href="#"><span class="spid-sr-only">Namirial ID</span><img src="{% static "base/img/spid-idp-namirialid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-namirialid.png' %}"""; this.onerror=null;" alt="Namirial ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="posteid">
                <a href="#"><span class="spid-sr-only">Poste ID</span><img src="{% static "base/img/spid-idp-posteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-posteid.png' %}"""; this.onerror=null;" alt="Poste ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="sielteid">
                <a href="#"><span class="spid-sr-only">Sielte ID</span><img src="{% static "base/img/spid-idp-sielteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-sielteid.png' %}"""; this.onerror=null;" alt="Sielte ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="spiditalia">
                <a href="#"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{% static "base/img/spid-idp-spiditalia.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-spiditalia.png' %}"""; this.onerror=null;" alt="SpidItalia" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="timid">
                <a href="#"><span class="spid-sr-only">Tim ID</span><img src="{% static "base/img/spid-idp-timid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-timid.png' %}"""; this.onerror=null;" alt="Tim ID" /></a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="info">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="rich">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="help">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
    <!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * end * -->

    <!-- AGID - SPID IDP BUTTON XLARGE "ENTRA CON SPID" * begin * -->
    <a href="#" class="italia-it-button italia-it-button-size-xl button-spid" spid-idp-button="#spid-idp-button-xlarge-get" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="{% static "base/img/spid-ico-circle-bb.svg" %}" onerror="""this.src="{% static 'base/img/spid-ico-circle-bb.png' %}"""; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-xlarge-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-xlarge-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            <li class="spid-idp-button-link" data-idp="arubaid">
                <a href="#"><span class="spid-sr-only">Aruba ID</span><img src="{% static "base/img/spid-idp-arubaid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-arubaid.png' %}"""; this.onerror=null;" alt="Aruba ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="infocertid">
                <a href="#"><span class="spid-sr-only">Infocert ID</span><img src="{% static "base/img/spid-idp-infocertid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-infocertid.png' %}"""; this.onerror=null;" alt="Infocert ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="namirialid">
                <a href="#"><span class="spid-sr-only">Namirial ID</span><img src="{% static "base/img/spid-idp-namirialid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-namirialid.png' %}"""; this.onerror=null;" alt="Namirial ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="posteid">
                <a href="#"><span class="spid-sr-only">Poste ID</span><img src="{% static "base/img/spid-idp-posteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-posteid.png' %}"""; this.onerror=null;" alt="Poste ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="sielteid">
                <a href="#"><span class="spid-sr-only">Sielte ID</span><img src="{% static "base/img/spid-idp-sielteid.svg" %}" onerror="""this.src="{% static 'base/img/spid-idp-sielteid.png' %}"""; this.onerror=null;" alt="Sielte ID" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="spiditalia">
                <a href="#"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{% static "base/img/spid-idp-spiditalia.svg" %}" onerror="""this.src="{% static "{% static 'base/img/spid-idp-spiditalia.png' %}"""; this.onerror=null;" alt="SpidItalia" /></a>
            </li>
            <li class="spid-idp-button-link" data-idp="timid">
                <a href="#"><span class="spid-sr-only">Tim ID</span><img src="{% static "base/img/spid-idp-timid.svg" %}" onerror="""this.src="{% static "{% static 'base/img/spid-idp-timid.png' %}"""; this.onerror=null;" alt="Tim ID" /></a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="info">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="rich">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="help">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
    <!-- AGID - SPID IDP BUTTON XLARGE "ENTRA CON SPID" * end * -->

    <script type="text/javascript" src="{% static "base/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/spid-sp-access-button.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            var rootList = $("#spid-idp-list-small-root-get");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-medium-root-get");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-large-root-get");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-xlarge-root-get");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-small-root-post");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-medium-root-post");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-large-root-post");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });

        $(document).ready(function(){
            var rootList = $("#spid-idp-list-xlarge-root-post");
            var idpList = rootList.children(".spid-idp-button-link");
            var lnkList = rootList.children(".spid-idp-support-link");
            while (idpList.length) {
                rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
            }
            rootList.append(lnkList);
        });
    </script>
</body>
</html>
