{% extends 'spid_base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
    <title>
        {% trans "Error" %}
    </title>
{% endblock page_title %}

{% block container %}
    <div class="callout danger">
        <div class="callout-title">
            Errore di autenticazione
        </div>
        <p>
            <p>{{ spid_anomaly.message|default:'Accesso negato' }}</p>
            {% if spid_anomaly.troubleshoot %}
                <p>{{ spid_anomaly.troubleshoot|default:'' }}</p>
            {% endif %}
        </p>
    </div>
{% endblock %}