{% comment %}
Template with AGID - SPID button
Parameter:
  size: ('s'|'m'|'l'|'xl')
{% endcomment %}
{% load static spid %}

<!-- AGID - SPID SP/IDP BUTTON "ENTRA CON SPID" * begin * -->
<a href="{{ href|default:'#' }}" class="italia-it-button italia-it-button-size-{{ size }} button-spid"
   spid-idp-button="#spid-idp-button-{{ size|spid_button_size }}-post" aria-haspopup="true" aria-expanded="false">
    <span class="italia-it-button-icon"><img src="{% static 'spid/spid-ico-circle-bb.svg' %}" onerror="this.src='img/spid-ico-circle-bb.png'; this.onerror=null;" alt=""></span>
    <span class="italia-it-button-text">Entra con SPID</span>
</a>

<div id="spid-idp-button-{{ size|spid_button_size }}-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
  <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">

    {% spid_saml_check_idp_active as spid_saml_check %}
    {% if spid_saml_check %}
    <li class="spid-idp-button-link" id="spid_saml_check" data-idp="spid_saml_check" data-entityid="{% spid_saml_check_url %}">
        <a href="#"><span class="spid-sr-only">SPID-saml-check</span><img src="" onerror="this.src=''; this.onerror=null;" alt="Spid saml check"></a>
    </li>
    {% endif %}

    {% spid_demo_idp_active as spid_demo_idp %}
    {% if spid_demo_idp %}
    <li class="spid-idp-button-link" id="spid_demo" data-idp="spid_demo" data-entityid="{% spid_demo_url %}">
        <a href="#"><span class="spid-sr-only">SPID-saml-check Demo IdP</span><img src="" onerror="this.src=''; this.onerror=null;" alt="Spid saml check demo IdP"></a>
    </li>
    {% endif %}

    {% spid_validator_idp_active as spid_validator %}
    {% if spid_validator %}
    <li class="spid-idp-button-link" id="spid_validator" data-idp="spid_validator" data-entityid="{% spid_validator_url %}">
        <a href="#"><span class="spid-sr-only">SPID-Validator</span><img src="" onerror="this.src=''; this.onerror=null;" alt="Spid Validator"></a>
    </li>
    {% endif %}

    <li class="spid-idp-button-link" id="spiditalia" data-idp="spiditalia" data-entityid="https://spid.register.it">
        <a href="#"><span class="spid-sr-only">SPIDItalia Register.it</span><img src="{% static 'spid/spid-idp-spiditalia.svg' %}" onerror="this.src='{% static 'spid/spid-idp-spiditalia.svg' %}'; this.onerror=null;" alt="SPIDItalia Register.it"></a>
    </li>
    <li class="spid-idp-button-link" id="timid" data-idp="timid" data-entityid="https://login.id.tim.it/affwebservices/public/saml2sso">
        <a href="#"><span class="spid-sr-only">Tim ID</span><img src="{% static 'spid/spid-idp-timid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-timid.svg' %}'; this.onerror=null;" alt="Tim ID"></a>
    </li><li class="spid-idp-button-link" id="intesaid" data-idp="intesaid" data-entityid="https://spid.intesa.it">
        <a href="#"><span class="spid-sr-only">Intesa ID</span><img src="{% static 'spid/spid-idp-intesaid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-intesaid.svg' %}; this.onerror=null;" alt="Intesa ID"></a>
    </li><li class="spid-idp-button-link" id="posteid" data-idp="posteid" data-entityid="https://posteid.poste.it">
        <a href="#"><span class="spid-sr-only">Poste ID</span><img src="{% static 'spid/spid-idp-posteid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-posteid.svg' %}'; this.onerror=null;" alt="Poste ID"></a>
    </li><li class="spid-idp-button-link" id="arubaid" data-idp="arubaid" data-entityid="https://loginspid.aruba.it">
        <a href="#"><span class="spid-sr-only">Aruba ID</span><img src="{% static 'spid/spid-idp-arubaid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-arubaid.svg' %}'; this.onerror=null;" alt="Aruba ID"></a>
    </li><li class="spid-idp-button-link" id="lepidaid" data-idp="lepidaid" data-entityid="https://id.lepida.it/idp/shibboleth">
        <a href="#"><span class="spid-sr-only">Lepida ID</span><img src="{% static 'spid/spid-idp-lepidaid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-lepidaid.svg' %}'; this.onerror=null;" alt="Lepida ID"></a>
    </li><li class="spid-idp-button-link" id="infocertid" data-idp="infocertid" data-entityid="https://identity.infocert.it">
        <a href="#"><span class="spid-sr-only">Infocert ID</span><img src="{% static 'spid/spid-idp-infocertid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-infocertid.svg' %}'; this.onerror=null;" alt="Infocert ID"></a>
    </li><li class="spid-idp-button-link" id="namirialid" data-idp="namirialid" data-entityid="https://idp.namirialtsp.com/idp">
        <a href="#"><span class="spid-sr-only">Namirial ID</span><img src="{% static 'spid/spid-idp-namirialid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-namirialid.svg' %}'; this.onerror=null;" alt="Namirial ID"></a>
    </li><li class="spid-idp-button-link" id="sielteid" data-idp="sielteid" data-entityid="https://identity.sieltecloud.it">
        <a href="#"><span class="spid-sr-only">Sielte ID</span><img src="{% static 'spid/spid-idp-sielteid.svg' %}" onerror="this.src='{% static 'spid/spid-idp-sielteid.svg' %}'; this.onerror=null;" alt="Sielte ID"></a>
    </li><li class="spid-idp-support-link">
        <a href="https://www.spid.gov.it/">Maggiori informazioni</a>
    </li><li class="spid-idp-support-link">
        <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
    </li><li class="spid-idp-support-link">
        <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
    </li>
  </ul>
</div>
<!-- AGID - SPID IDP BUTTON "ENTRA CON SPID" * end * -->
