{% extends 'spid_base.html' %}
{% load static %}
{% load spid %}

{% block page_title %}
    <title>
        Accedi Con SPID
    </title>
{% endblock page_title %}

{% block extra_head %}
        <link type="text/css" rel="stylesheet" href="{% static 'spid/spid-sp-access-button.css' %}">
{% endblock extra_head %}

{% block container %}
<div class="col-12 py-md-5 bd-content">

<h4 class="">Benvenuto in Nome Organizzazione Spid Discovery Service</h4>

<p class="mb-lg-5 mb-2">
    Seleziona il Provider di Identità presso il quale desideri autenticarti
</p>

<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <div class="row">
                <div class="col-sm text-center">
                    {% include 'spid_button.html' with size='xl' %}
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block extra_scripts %}
    {% include 'spid_button_scripts.html' %}
{% endblock extra_scripts %}
